@model IEnumerable<Ivan.LojaTudoEletro.ProjetoModelo.MVC.ViewsModels.ProductViewModel>

@{
    ViewBag.Title = "TudoEletro - Página inicial";
    Layout = "~/Views/Shared/_Layout.cshtml";

}

<div class="header_slide">
    <div class="header_bottom_left">
        <div class="categories">
            <ul>
                <h3>Categories</h3>
                <li><a href="about.html">Componentes</a></li>
                <li><a href="delivery.html">Consoles</a></li>
                <li><a href="news.html">Jogos</a></li>
                <li><a href="news.html">Eletrônicos</a></li>
                <li><a href="news.html">Priféricos</a></li>
                <li><a href="news.html">Monitores</a></li>

            </ul>
        </div>
    </div>
    <div class="header_bottom_right">
        <div class="slider">
            <div id="slider">
                <div id="mover">
                    @foreach (var product in @ViewBag.productsSellofForSlider)
                    {

                        foreach (var imagem in product.Imagens)
                        {
                            <a href="~/Product/ProductDetails/@product.ProductId">
                                <div id="slide-1" class="slide">
                                    <div class="slider-img">

                                        <img class="objectImage" src="~/Content/uploads/fotosProdutos/@imagem.UrlImagem">


                                    </div>
                                    <div class="slider-text">
                                        <h1>
                                            @product.Description<br><span></span>
                                        </h1>
                                        <h2>@product.Price.ToString("")</h2>
                                        <div class="features_list">

                                        </div>

                                    </div>
                                    <div class="clear"></div>
                                </div>
                            </a>
                        }

                    }
                </div>
            </div>
            <div class="clear"></div>
        </div>
    </div>
    <div class="clear"></div>
</div>

<div class="main">
    <div class="content">
        <div class="content_top">
            <div class="heading">
                <h3>Produtos recém-chegados</h3>
            </div>
            <div class="see">
                @*<p><a href="#">See all Products</a></p>*@
            </div>
            <div class="clear"></div>
        </div>
        <div class="section group">
            @foreach (var product in @ViewBag.lastProductsForNews)
            {
                foreach (var imagem in product.Imagens)
                {
                    <div class="grid_1_of_4 images_1_of_4">
                        <a href="~/Product/ProductDetails/@product.ProductId"><img src="~/Content/uploads/fotosProdutos/@imagem.UrlImagem" width="212px" height="212px" alt="" /></a>

                        <h4 class="card-product-name">@product.Description </h4>
                        <div class="price-details">
                            <div class="card-product-price text-highlight-1">
                                <p>
                                    @*<span class="rupees"> <span class="value" content="BRL">R$</span>@product.Price</span>*@
                                    <span class="value" content="BRL">R$</span>
                                    <span class="value">@product.Price</span>
                                </p>
                            </div>
                            <div class="add-cart">
                                <h4><a href="preview.html">Detalhes!</a></h4>
                            </div>
                            <div class="clear"></div>
                        </div>
                    </div>
                }
            }
        </div>
    </div>
</div>


<script type="text/javascript">
    $(document).ready(function () {
        $().UItoTop({ easingType: 'easeOutQuart' });

    });
</script>
<a href="#" id="toTop"><span id="toTopHover"> </span></a>


